restaurant-backend/target/
restaurant-backend/.idea/
restaurant-backend/.vscode/
restaurant-backend/run-backend.secrets.ps1

restaurant-frontend/node_modules/
restaurant-frontend/dist/
restaurant-frontend/.angular/
restaurant-frontend/.idea/
restaurant-frontend/.vscode/

.runtime/

**/.DS_Store
**/Thumbs.db

generate-project.py
generate-frontend.py
